

venv/*
ECRankedAPI/**
ECRankedAPI
Skims/**
stats.png
*.pyc
core/__pycache__
core/__pycache__/**
core/__pycache__/button.cpython-39.pyc

*.pyc
core/__pycache__/database.cpython-39.pyc
core/__pycache__/button.cpython-39.pyc
