# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.ECRanked.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\kaleb\DiscordBots\ECRanked\.idea\.idea.ECRanked.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
